* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #405BD3;
  transition: all 0.3s ease;
  position: fixed;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid grey;
}

.top_logo {
  display: flex;
  align-items: center;
}

.top_options {
  display: flex;
  width: 40%;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-size: large;
  transition: all 0.3s ease;
}

select {
  border: none;
  font-size: large;
  background-color: #405BD3;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover Effects */
.top_options div:hover,
select:hover {
  color: #f0f0f0;
}

select:hover {
  background-color: #2e47a1;
}

.hemburger {
  display: none;
  color: #fff;
  font-size: 2rem;
}

.top_content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #405BD3;
  padding: 35px;
  height: 90vh;
  overflow: hidden;
}

.left_part {
  margin-top: 70px;
  width: 50%;
}

.right_part {
  color: white;
  margin-top: 5%;
}

.right_part>h1 {
  height: 10%;
  font-size: 55px;
  font-weight: bolder;
  margin-bottom: 7%;
}

.right_part>div {
  font-size: x-large;
}

/* Base styles */
.qr {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  margin: 10% 0;
  gap: 10%;
  padding: 0 5%;
}

.ios {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: white;
  color: black;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ios .default-img,
.ios .hover-img {
  width: 100px;
  transition: opacity 0.3s ease;
  position: relative;
  right: -3.35rem;
  top: -1.25rem;
}

.ios .hover-img {
  display: block;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ios:hover .default-img {
  opacity: 0;
}

.ios:hover .hover-img {
  opacity: 1;
}

.icon {
  font-size: 3rem;
  color: #000;
  margin-top: 10px;
  transition: transform 0.3s ease;
}

.qr>div p {
  font-size: medium;
  margin-top: 10px;
}

.ios:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.user_data {
  display: flex;
  justify-content: space-between;
}

.hamburger {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked+.hamburger+.top_options {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  right: 5%;
  background-color: #405BD3;
  width: 90%;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 0;
}

header p {
  margin-top: 0;
  font-size: 16px;
  line-height: 1.5;
}

/* Container */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.section {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.section h2 {
  margin-bottom: 10px;
}

.section p {
  margin-bottom: 20px;
}

.icon {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.icon img {
  max-width: 50px;
}

/* ----- */
.language {
  text-align: center;
  color: #313236;
  line-height: 2;
  padding: 4rem 0;
}

#heading {
  font-size: 32px;
  font-family: 'PingFang SC', sans-serif;
  text-align: center;
  padding: 2rem 0;
}

.language #txt {
  color: #313236;
}

#txt {
  text-align: center;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid transparent;
  transition: border 0.3s ease, transform 0.3s ease;
}

.card:hover {
  border: 4px solid #405BD3;
  transform: translateY(-5px);
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.citizen {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
}

.card:hover .citizen {
  transform: scale(1.4);
}

.citizenship {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: auto;
  z-index: 2;
  border: 2px solid #fff;
  border-radius: 50%;
}

/* Card details  */
.card_detail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  border-radius: 6px;
  line-height: 1.4;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  z-index: 1;
  text-align: left;
  padding: 5px;
  box-sizing: border-box;
  font-size: 0.9rem;
}

.btn1 {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-radius: 6px;
  background-color: aliceblue;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: absolute;
  bottom: 0;
  font-family: 'PingFang SC', sans-serif;
  font-size: 1rem;
}

.card:hover .btn1 {
  background-color: #405BD3;
  color: #fff;
  border: 2px solid #405BD3;
}

/* Language Exchange */
.speakers {
  padding: 20px;
}


.exchange {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.language_exchange {
  background-color: #fff;
  padding: 2rem;
  color: #313236;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.exchange>p {
  font-size: 20px;
}

.exchange1 {
  background-image: url(./img/UK_bg.png);
  background-repeat: no-repeat;
}

.exchange2 {
  background-image: url(./img/ko_bg.png);
  background-repeat: no-repeat;
}

.exchange3 {
  background-image: url(./img/cn_bg.png);
  background-repeat: no-repeat;
}

.exchange4 {
  background-image: url(./img/ja_bg.png);
  background-repeat: no-repeat;
}

.exchange5 {
  background-image: url(./img/es_bg.png);
  background-repeat: no-repeat;
}

.exchange6 {
  background-image: url(./img/fr_bg.png);
  background-repeat: no-repeat;
}

.exchange7 {
  background-image: url(./img/cn_bg.png);
  background-repeat: no-repeat;
}

.exchange8 {
  background-image: url(./img/it_bg.png);
  background-repeat: no-repeat;
}

.exchange9 {
  background-image: url(./img/de_bg.png);
  background-repeat: no-repeat;
}

.exchange10 {
  background-image: url(./img/pt_bg.png);
  background-repeat: no-repeat;
}

.exchange11 {
  background-image: url(./img/tu_bg.png);
  background-repeat: no-repeat;
}

/*Features styling */
.new-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 40px 20px;
  text-align: left;
  color: #313236;
  font-family: 'PingFang SC', sans-serif;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.new-section.image-left .section-image {
  order: 1;
  margin-right: 20px;
}

.new-section.image-left .text-content {
  order: 2;
}

.new-section.image-right {
  flex-direction: row-reverse;
}

.new-section.image-right .section-image {
  margin-left: 20px;
}

.section-image {
  width: 50%;
  /* max-width: 35%;  */
  /* height: auto; */
}

.text-content {
  max-width: 35%;
  position: relative;
}

.new-section h2 {
  font-size: 28px;
  margin-bottom: 10px;
  position: relative;
}

.new-section h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 50px;
  height: 4px;
  background-color: #405BD3;
}

.new-section p {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 20px;
}

/* People are Saying */
.feedback_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding: 40px 80px;
  align-items: center;
}

.txt {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.feedback_card {
  text-align: center;
  gap: 20px;
  line-height: 3;
  background-color: #f4f4f4;
  border-radius: 12px;
}

.rating {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #ffa100;

  .fa-star {
    font-size: 1.4rem;
    padding: 5px;
  }
}

.feedback_title {
  font-size: 24px;
  font-weight: 700;
}

.feedback_txt {
  font-size: 18px;
  letter-spacing: 0.1px;
  color: #858585;
  line-height: 25px;
  padding: 10px 80px;
}

/* Language acquisition the natural way */
.acquisition {
  text-align: center;
  background-image: url('./img/footer-promo-bg.webp');
  padding: 60px;
  color: #f9f9f9;
}

.btns {
  padding: 10px 20px;

  .btn {
    background-color: #f4f4f4;
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 20px;
  }
}

.footerlinks {
  display: flex;
  justify-content: space-around;
  height: 10vh;
}

ul {
  display: flex;
  flex-wrap: wrap;
  color: #858585;
  align-items: center;
}

ul>li {
  list-style: none;
  padding: 0 10px;
}

/* Responsive design */
@media screen and (min-width: 601px) and (max-width: 1280px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  header p {
    font-size: 14px;
  }

  .section {
    padding: 15px;
  }

  .icon img {
    max-width: 40px;
  }

  #heading {
    font-size: 28px;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .card_detail {
    line-height: 1.1;
    font-size: 0.8rem;
  }

  .card {
    max-width: 100%;
  }

  .citizenship {
    width: 30px;
  }

  .speakers {
    padding: 10px;
  }

  .exchange {
    grid-template-columns: repeat(3, 1fr);
  }

  .language_exchange {
    padding: 1rem;
  }

  .exchange>p {
    font-size: 16px;
  }


  .section-image {
    width: 40%;
  }

  .text-content {
    max-width: 50%;
  }

  .new-section {
    padding: 30px 15px;
  }

  .new-section h2 {
    font-size: 24px;
  }

  .new-section p {
    font-size: 16px;
  }

  .feedback_cards {
    padding: 10px 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  .feedback_card {
    line-height: 1.4;
  }

  .feedback_txt {
    padding: 10px 20px;
    line-height: 1;
  }

  ul>li {
    list-style: none;
    padding: 0 5px;
  }

  .top_content {
    height: 105vh;
  }

  .qr {
    grid-template-columns: 1fr 1fr;
    gap: 10%;
  }

  .ios {
    padding: 20px;
  }

  .icon {
    font-size: 3rem;
  }

  .ios .default-img,
  .ios .hover-img {
    width: 100px;
  }

  .qr>div p {
    font-size: medium;
  }
}

@media screen and (min-width: 360px) and (max-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  header p {
    font-size: 10px;
    padding: 0;
  }

  .section {
    padding: 5px;
  }

  .icon img {
    max-width: 45px;
  }

  #heading {
    font-size: 24px;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .card {
    width: 100%;
  }

  .card_detail {
    font-size: 0.6rem;
    bottom: 35px;
    line-height: 1;
  }

  .btn1 {
    font-size: 0.9rem;
    padding: 8px 0;
  }

  .citizenship {
    width: 20px;
  }

  .speakers {
    padding: 5px;
  }

  .exchange {
    grid-template-columns: repeat(2, 1fr);
    /* grid-gap: 10px; */
  }

  .language_exchange {
    padding: 0.3rem;
  }

  .exchange>p {
    font-size: 16px;
  }

  .new-section {
    flex-direction: column;
    text-align: center;
    padding: 20px 10px;
  }

  .new-section.image-left .section-image,
  .new-section.image-right .section-image {
    order: 2;
    margin: 0 0 20px 0;
    width: 80%;
  }

  .new-section.image-left .text-content,
  .new-section.image-right .text-content {
    order: 1;
    max-width: 100%;
  }

  .section-image {
    width: 100%;
  }

  .new-section h2 {
    font-size: 22px;
  }

  .new-section p {
    font-size: 16px;
  }

  .feedback>.txt {
    font-size: 16px;
    padding: 10px 20px;
  }

  .feedback_cards {
    padding: 5px 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .feedback_card {
    line-height: 1;
  }

  .rating {
    padding: 10px;

    .fa-star {
      font-size: 1rem;
    }
  }

  .feedback_txt {
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 400;
    text-align: start;
    line-height: 1.25;
  }

  .footer_right {
    display: none;
  }

  ul>li {
    list-style: none;
    padding: 0 20px;
  }

  .top_options {
    display: none;
  }

  .hemburger {
    display: contents;
  }

  .top_content {
    height: 145vh;
  }

  .qr {
    grid-template-columns: 1fr;
  }

  .ios {
    padding: 15px;
    /* margin-bottom: 15px; */
    width: 65%;
    height: 115%;
  }

  .icon {
    font-size: 2.5rem;
  }

  .ios .default-img,
  .ios .hover-img {
    width: 80px;
  }

  .qr>div p {
    font-size: smaller;
  }
}