@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* BTN BACKGROUND COLOR : #EB662B
bASIC OLOR : #fff
pRIMARY TEXT COLOR : #05073C
SECONDARY TEXT COLOR : #757575
FRAME : #F5F5F5
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: auto;
  font-family: 'Inter', sans-serif;
  padding: 20px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #05073C;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #fff;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
}

.nav-left>input {
  font-size: 1.12rem;
  width: 100%;
  margin-left: 2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 16px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.nav-right .nav-options {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-options li {
  padding: 0 10px;
  margin-left: 20px;
}

.nav-options li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.btn {
  border: none;
  background-color: #EB662B;
  color: #fff;
  outline: none;
  width: 83.31px;
  height: 44px;
  left: 284.61px;
  padding: 12px;
  border-radius: 200px;
}

/* Find Populor Tours */
.head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: 4rem;
}

.heading1 {
  color: #05073C;
  font-size: 29.41px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
}

.txt1 {
  font-size: 14.3px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
}

.tours {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 10px 20px;
}

/* Card Styles */
.card {
  border: 1px solid #E7E6E6;
  background-color: #fff;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.card img {
  border-radius: 8px;
}

.card_info {
  text-align: left;
  padding: 10px;
  line-height: 24px;
}

.location {
  color: #717171;
  font-size: 12px;
  font-weight: 400;
}

.card_title {
  font-size: 16px;
  font-weight: 600;
  margin: 5px 0;
}

.rating {
  text-align: center;
  font-size: 12.5px;
  font-weight: 400;
}

.plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #05073C;
  font-size: 12.6px;
  font-weight: 400;
  border-top: 1px solid #717171;
  padding-top: 8px;
  margin-top: 10px;
}

.plan span {
  font-weight: 700;
}

/*   <!-- Populor Thing To do --> */

.head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.heading1 {
  color: #05073C;
  font-size: 29.41px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
}

.txt {
  font-size: 14.3px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
  text-decoration: underline;
}

/* grid */
.wrapper {
  display: grid;
  grid-template-columns: repeat(7, 175px);
  grid-template-rows: repeat(2, 240px);
  grid-gap: 1rem;
  margin: auto;
  padding: 10px;
  justify-content: center;
}

.wrapper>img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.one {
  grid-row: 1/3;
  grid-column: 1/3;
}

.two {
  grid-column: 3/5;
}

.three {
  grid-column: 5/8;
}

.four {
  grid-row: 2/3;
  grid-column: 3/5;
}

.five {
  grid-column: 6/8;
  grid-row: 2/3;
}

.six {
  width: 1320px;
  height: 296.38px;
}

/* Why choose Tourz */
.tours {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}

.card {
  /* border: 1px solid #E7E6E6; */
  border-radius: 12px;
  padding: 10px;
  /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19); */
  line-height: 1.7;

}

.card>i {
  font-size: 3rem;
  color: #EB662B;
  padding: 10px;
}

.heading2 {
  font-size: 29.3px;
  font-weight: 700;
  /* line-height: 45px; */
  text-align: left;
  /* padding: 40px 20px; */
  padding: 10px 40px;
}

.heading3 {
  font-size: 17.72px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
}

.txt {
  font-size: 14.88px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .tours {
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
  }

  .card_title {
    font-size: 15px;
  }

  .rating,
  .plan {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .tours {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  .card_title {
    font-size: 14px;
  }

  .rating,
  .plan {
    font-size: 11px;
  }

  .card img {
    width: 100%;
    height: auto;
  }

  .nav-options>li {
    background-color: red;
    display: none;
  }
}

@media (max-width: 480px) {
  .tours {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 5px;
  }

  .card {
    padding: 8px;
  }

  .card_title {
    font-size: 14px;
  }

  .rating,
  .plan {
    font-size: 11px;
  }

  .plan {
    flex-direction: row;
    align-items: flex-start;
  }

  .plan p {
    margin-bottom: 5px;
  }

  .plan span {
    display: block;
    margin-top: 5px;
  }

  .nav-options>li,
  .nav-left>input {
    display: none;
  }
}